<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--The XERPConfig.XML will house the URI path to be used by any and WCF Data Service Connections
    this is the initial project that is launched and is the only place this needs to be set...-->
    <add key="XERPConfigPath" value="C:\XERP\XERP.Client\XERPClientBuild\XERPClientConfig\XERPClientConfig.xml"/>
  </appSettings>
</configuration>