<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Fragment>
        <DirectoryRef Id="XERP.Server.Service.LogInService">
            <Component Id="cmp9B477FCB2A2CF99291BBDC3CFCD2930E" Guid="*">
                <File Id="filC4D64C4D553854325CCE2FB378EC1B43" KeyPath="yes" Source="$(var.XERP.Server.Service.LogInService.BuildPath)\LogInDataService.svc" />
                <iis:WebSite Id="XERP.Server.Service.LogInService" Description="XERP.Server.Service.LogInService" Directory="XERP.Server.Service.LogInService">
                    <iis:WebAddress Id="XERP.Server.Service.LogInService" Port="[XERP.Server.Service.LogInService.Port]" />
                    <iis:WebApplication Id="XERP.Server.Service.LogInService" Name="XERP.Server.Service.LogInService" WebAppPool="AppPool" />
                    <iis:WebDirProperties Id="XERP.Server.Service.LogInService" AnonymousAccess="yes" Read="yes" Execute="yes" Script="yes" />
                </iis:WebSite>
            </Component>
            <Component Id="cmpA0EC255EB03CCA195C25F44C2FB42DD6" Guid="*">
                <File Id="fil6DACF2AEDEB2766276A3F58E3384020B" KeyPath="yes" Source="$(var.XERP.Server.Service.LogInService.BuildPath)\Web.config" />
                <util:XmlConfig Id="fil6DACF2AEDEB2766276A3F58E3384020B_cfg1" Action="create" File="[#fil6DACF2AEDEB2766276A3F58E3384020B]" ElementPath="/configuration" VerifyPath="/configuration/appSettings" Name="appSettings" Node="element" On="install" Sequence="1" />
                <util:XmlConfig Id="fil6DACF2AEDEB2766276A3F58E3384020B_cfg2" Action="delete" File="[#fil6DACF2AEDEB2766276A3F58E3384020B]" ElementPath="/configuration/appSettings" VerifyPath="/configuration/appSettings/add[\[]@key='XERPConfigPath'[\]]" Node="element" On="install" Sequence="2" />
                <util:XmlConfig Id="fil6DACF2AEDEB2766276A3F58E3384020B_cfg3" Action="create" File="[#fil6DACF2AEDEB2766276A3F58E3384020B]" ElementPath="/configuration/appSettings" VerifyPath="/configuration/appSettings/add[\[]@key='XERPConfigPath'[\]]" Name="add" Node="element" On="install" Sequence="3" />
                <util:XmlConfig Id="fil6DACF2AEDEB2766276A3F58E3384020B_cfg4" File="[#fil6DACF2AEDEB2766276A3F58E3384020B]" ElementId="fil6DACF2AEDEB2766276A3F58E3384020B_cfg3" Name="key" Value="XERPConfigPath" Sequence="4" />
                <util:XmlConfig Id="fil6DACF2AEDEB2766276A3F58E3384020B_cfg5" File="[#fil6DACF2AEDEB2766276A3F58E3384020B]" ElementId="fil6DACF2AEDEB2766276A3F58E3384020B_cfg3" Name="value" Value="[INSTALLFOLDER]Config\XERPServerConfig.xml" Sequence="5" />
            </Component>
            <Directory Id="dir598349534CD8A7E478F4C214415DBD59" Name="bin">
                <Component Id="cmp8EA0617986754D28F155AE1C5679F26E" Guid="*">
                    <File Id="filB4287524FB96775218AFA300F93ADD9D" KeyPath="yes" Source="$(var.XERP.Server.Service.LogInService.BuildPath)\bin\XERP.Server.DAL.dll" />
                </Component>
                <Component Id="cmp0CDF07B55BEA2207D112DF9D50DC6808" Guid="*">
                    <File Id="fil80D3B79726774AABD532AF594DA4796A" KeyPath="yes" Source="$(var.XERP.Server.Service.LogInService.BuildPath)\bin\XERP.Server.DAL.LogInDAL.dll" />
                </Component>
                <Component Id="cmp55A3F0CE7B08621E6C8EF965DE6A6ADB" Guid="*">
                    <File Id="filA88B6FE99E63C86DF893EF964B36CFD6" KeyPath="yes" Source="$(var.XERP.Server.Service.LogInService.BuildPath)\bin\XERP.Server.dll" />
                </Component>
                <Component Id="cmp44E195B341CE8E575BD436F958C3BF0C" Guid="*">
                    <File Id="fil2BED2E0A5764D827E919C60C9CCA74F2" KeyPath="yes" Source="$(var.XERP.Server.Service.LogInService.BuildPath)\bin\XERP.Server.Service.LogInService.dll" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="XERP.Server.Service.LogInService">
            <ComponentRef Id="cmp9B477FCB2A2CF99291BBDC3CFCD2930E" />
            <ComponentRef Id="cmpA0EC255EB03CCA195C25F44C2FB42DD6" />
            <ComponentRef Id="cmp8EA0617986754D28F155AE1C5679F26E" />
            <ComponentRef Id="cmp0CDF07B55BEA2207D112DF9D50DC6808" />
            <ComponentRef Id="cmp55A3F0CE7B08621E6C8EF965DE6A6ADB" />
            <ComponentRef Id="cmp44E195B341CE8E575BD436F958C3BF0C" />
        </ComponentGroup>
    </Fragment>
</Wix>