<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AddressEntities" connectionString="metadata=res://*/Address.csdl|res://*/Address.ssdl|res://*/Address.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=APO11422L\SQLEXPRESS;initial catalog=XERP;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>