<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SecurityGroupEntities" connectionString="metadata=res://*/SecurityGroup.csdl|res://*/SecurityGroup.ssdl|res://*/SecurityGroup.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=APO11422L\SQLEXPRESS;Initial Catalog=XERP;Integrated Security=True;MultipleActiveResultSets=False;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>