<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
		    <pages validateRequest="false"/>
    </system.web>
  <connectionStrings>
    <add name="MenuSecurityEntities" connectionString="metadata=res://*/MenuSecurity.csdl|res://*/MenuSecurity.ssdl|res://*/MenuSecurity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=APO11422L\SQLEXPRESS;initial catalog=XERP;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <!-- The name of the service -->
      <service name="XERP.Server.Service.MenuSecurityService.MenuSecurityDataService">
        <!--you can leave the address blank or specify your end point URI-->
        <endpoint binding="webHttpBinding"
          bindingConfiguration="higherMessageSize"
          contract="System.Data.Services.IRequestHandler"></endpoint>
      </service>
    </services>

    <bindings>
      <webHttpBinding>
        <!-- configure the maxReceivedMessageSize value to suit the max size of 
                  the request (in bytes) you want the service to receive-->
        <binding name="higherMessageSize" transferMode="Streamed"
         maxReceivedMessageSize="2147483647"/>
      </webHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
</configuration>
