<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SystemUserEntities" connectionString="metadata=res://*/SystemUserModel.csdl|res://*/SystemUserModel.ssdl|res://*/SystemUserModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=APO11422L\SQLEXPRESS;initial catalog=XERP;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>